.popup__button_novalid {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000000;
    opacity: 0.2;
    background-color: #fff;
    pointer-events: none;
    user-select: none;
}