.button_theme_close{    
    background-image: url(../../../images/close-icon.svg);
    background-size: 32px 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
}

.button_theme_close:hover{
    opacity: 0.6;
}

@media (max-width: 767px) {
    .button_theme_close{
        background-size: 20px 20px;
        top: -36px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
}