.popup__button{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background: #000000;
    border: none;
    border-radius: 2px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.popup__button:hover{
    opacity: 0.8;
}

@media (max-width: 767px) {
    .popup__button{
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}