.profile__proffession{
    margin: 0;
    padding: 0;   
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767px) {
    .profile__proffession{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}