.popup__heading{
    padding: 0;
    margin: 0px auto 54px ;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media (max-width: 767px) {
    .popup__heading{
        font-size: 18px;
        line-height: 22px;
        margin: 0px auto 75px ;
    }
}