.elements{
    max-width: 880px;
    min-width: 282px;
    margin: 0px auto 51px; 
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;    
}

@media (max-width: 767px) {
    .elements{
        width: 88.125%;
        margin: 0px auto 48px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 0px;
    }
}