.footer__copyright{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;    
    color: #545454;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .footer__copyright{
        line-height: 17px;
    }
}