.popup__input-errors {
    visibility: hidden;
    opacity: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    position: absolute;
    transition: visibility 0.3s, opacity 0.3s linear;
};
  