.popup__item{
    height: 30px;
    padding: 5px 0 13px;  
    border: 0;
    width: 100%;    
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__item::placeholder{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__item:last-of-type{
    margin-top: 30px;
}

.popup__item:invalid:not(:focus):not(:placeholder-shown).popup__item_type_error{
    border-bottom: 1px solid #ff0000;
    display: block;
}
  
.popup__input:-internal-autofill-selected {
    background-color: transparent;
}

@media (max-width: 767px) {
    .popup__item{
        height: 27px;
    }
}