.profile__avatar-wrapper{
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    align-self: center;
    display: flex;
}

@media (max-width: 767px) {
    .profile__avatar-wrapper{
        margin: 0px auto 26px;        
    }
}