.button_theme_add{
    min-width: 150px;
    height: 50px;
    border: none;
    background: none;
    background-image: url(../../../../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;    
    align-self: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.button_theme_add:hover{
    opacity: 0.6;
}

@media (max-width: 767px) {
    .button_theme_add{
        width: 100%;
        align-self: flex-end;
        background-size: 16px 16px;
    }
}