.header{
    max-width: 880px;
    min-width: 320px;
    margin: 45px auto 40px; 
    padding: 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);    
}
    
 
@media (max-width: 767px) {
    .header{
        width: 100%;
        margin: 28px auto 42px;       
    }
}